<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css" />
		<meta charset="utf-8">
	</head>
	<body>
		<nav>
			<a href="#about">About</a>
		</nav>
		<div class="logo-form">
			<img id="logo" src="images/logo.png" alt="">
			<form id="recommend-form" action="">
				<input type="text" autofocus>
			</form>
		</div>
		<div class="track-list">
			<!-- track results go here -->
		</div>
	</body>
</html>
