<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
	</head>
	<body>
		<nav>
			<a href="#about">About</a>
		</nav>
		<div class="logo-form">
			<img src="" alt="">
			<form action="">
				<input type="text">
			</form>
		</div>
		<div class="track-list">
			<!-- track results go here -->
		</div>
	</body>
</html>
