<div class="header">
	<a href="/"><img id="logo" src="/images/logo.png" alt=""></a>

	<input id="url" onkeypress="if( event.keyCode == 13 ) recommendedTracks()" name="url" type="text" placeholder="SoundCloud Playlist URL" autofocus>

	<a id="about" href="/about">About</a>
</div>
<div class="content">
	<h2>Introduction</h2>

	<p class="about-text"><strong>SoundVane</strong> is a SoundCloud playlist analyzer. It recommends songs you'll love using the playlists you already love, by aggregating SoundCloud's track-based recommendations into a single, clean list of songs to listen to.</p>

	<h2>How To Use</h2>

	<p class="about-text">Go to <a href="/">soundvane.com</a> and paste in a playlist, or paste one into the box at the top of the page!</p>
</div>
