<div class="header">
	<a href="/"><img id="logo" src="/images/logo.png" alt=""></a>

	<input id="url" onkeypress="if( event.keyCode == 13 ) recommendedTracks()" name="url" type="text" placeholder="SoundCloud User or Playlist URL" autofocus>

	<a id="about" href="/about">About</a>
</div>
<div class="content">
	<h2>About SoundVane</h2>

	<p class="about-text"><a target="_blank" href="https://github.com/aaron235/SoundVane">SoundVane</a> is a SoundCloud playlist analyzer. It recommends new songs based on the songs you already love, by aggregating SoundCloud's track-based recommendations into a single, clean list of songs to listen to.</p>
	<p>To get started, just paste a profile or playlist URL into the recommendations bar and hit enter!</p>

	<div class="donate">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBFAsGyqBg8FOOcAZZV+q6I5jycU0BEeIqqX3cKPlwuAOAtbsgrhb/8UyRReAHZvu+w61lnpg+SRacbFO1DP13hJA3AoL+6uq/0PqAIvyGoSVMxpdDUaAPnBN8fU7b/mHHVdenRKo/Yehx7P0Z9mASwQFknQMZtzHszeIrDFRhZOTELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIb/PW7Q9t6fGAgYj9U4Bi8snPEOiFLIWrEpyeSbgEfBnaIPuE3534vyoI4kywB1vJt/ygLnAzFkhyL9TK0P9PWFdCDGQQniMO5Z685ADYYTXe/wYSY8HPe4WXSpSpV6UY2QlI8OnvW44X//hseaRWcJ32t/JcTsYy/hhSJOsARKy7eGcvRzYoLNFF5cbCJfPlHIK0oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUxMTE5MDYzODQwWjAjBgkqhkiG9w0BCQQxFgQUxf8cU8jgZIzkdcZqe7TNo24jfCAwDQYJKoZIhvcNAQEBBQAEgYBMWirrAq1amNVRSP2JMIXL89x/UNZjkQT35bD6tSLXQ7CedGoV5vIk9/sQKDTe1nP6zcheJRzW4uquF41OX5ADYaB5mMRWXHdjLJ4mmFYl84elr0LFjLZ1GxD1A0+dCaT6bdOjmd/trmOtCU+u9t91pDRKLL+0HrN1eloAhJtV8A==-----END PKCS7-----">
			<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->

			<button type="submit" name="submit" title="PayPal - The safer, easier way to pay online!">
				Donate with <object data="https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom.svg" type="image/svg+xml">
					<img src="https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom.png" />
				</object>
			</button>

			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>

</div>
