<div class="header">
	<a href="/"><img id="logo" src="/images/logo.png" alt=""></a>

	<input id="url" onkeypress="if( event.keyCode == 13 ) recommendedTracks()" name="url" type="text" placeholder="SoundCloud Playlist URL" autofocus>

	<a id="about" href="/about">About</a>
</div>
<div class="content">
	<ul>
		{{#if error}}
			<li>
				<div class="notfound">Could not find a playlist at the given URL</div>
			</li>
		{{/if}}

		{{#each tracks}}
			<li class="soundcloud-frame">
				<iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{this}}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</li>
		{{/each}}

	</ul>
</div>
