// Colors
$fgcolor: #ff7800    //Color for clickable elements
$bgcolor: #fff       //Main page background
$textcolor: #000     //For text
$linktextcolor: #3c3c3c
$inputcolor: #e6e6e6 //For backgrounds of inputs
// Fonts
$fonts: "Proxima Nova", "Verdana", sans-serif

// Global formatting

body
	padding: 0
	margin: 0
	font-family: $fonts
	min-width: 640px

#about
	position: absolute
	right: 2em
	margin: 0em
	padding: 1em
a
	color: $linktextcolor
	text-decoration: none

#logo
	width: 320px
	height: 320px
	margin: 2em

.logo-form,
	text-align: center
	position: relative
	max-width: 1024px
	margin: auto

input#url,
#recommend-form input
	font-size: 1.5em
	background: $inputcolor
	border: 0
	border-radius: .4em
	padding: .5em .75em
	outline: 0
	width: 50%
	margin: 0 2em

// Recommendation page formatting

.header
	padding: 1em
	text-align: center
	position: relative
	z-index: 2

.header #logo
	width: 48px
	height: 48px
	position: absolute
	left: 2em
	margin: 0em

.header #recommend-form
	display: inline

.content
	width: 50%
	margin: 0 auto

.content ul
	padding: 0
.content li
	list-style-type: none
	padding: 0

// About page formatting

.about-text
	line-height: 1.5em
	a
		text-decoration: underline

//Error formatting

.notfound
	height: 150px
	color: $textcolor
	box-sizing: border-box
	padding: 4em
	padding-left: 128px
	background-image: url("/images/notfound.png")
	background-size: 64px 64px
	background-position: 32px center
	background-repeat: no-repeat
